export(asEuclidean, asHomogeneous, axes3d, axis3d, box3d,
        bbox3d, bg3d, clear3d, cube3d, dot3d,
	identityMatrix,
	light3d, lines3d, mtext3d, 
	oh3d, open3d, par3d, particles3d, points3d, pop3d,
	qmesh3d, quads3d, rgl.bbox, rgl.bg, rgl.bringtotop, rgl.clear,
	rgl.close, rgl.cur, rgl.light, rgl.lines, rgl.linestrips,
	rgl.material, rgl.open, rgl.points, rgl.pop, rgl.postscript,
	rgl.primitive, rgl.projection, rgl.quads, rgl.quit,
	rgl.select3d, rgl.set, rgl.snapshot, rgl.spheres, rgl.sprites,
	rgl.surface, rgl.texts, rgl.triangles, rgl.user2window,
	rgl.viewpoint, rgl.window2user, r3dDefaults, rotate3d, rotationMatrix,
	scale3d, scaleMatrix, segments3d, select3d, shade3d,
	spheres3d, sprites3d, subdivision3d, surface3d, terrain3d, text3d,
	texts3d, title3d, transform3d, translate3d, translationMatrix, triangles3d,
	view3d, wire3d)
 
 S3method(dot3d, qmesh3d)
 S3method(wire3d, qmesh3d)
 S3method(shade3d, qmesh3d)
 S3method(translate3d, qmesh3d)
 S3method(rotate3d, qmesh3d)
 S3method(scale3d, qmesh3d)
 S3method(subdivision3d, qmesh3d)
 
 S3method(translate3d, default)
 S3method(rotate3d, default)
 S3method(scale3d, default)
 
 useDynLib(rgl)